.p{
    width: 400px;
    height: 400px;
    background: rgb(72, 59, 59);
    margin: auto;
    position: relative;
    border-radius: 100px;   
}
.c{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100px;

}

.c1{
    background: greenyellow;
    left:0px
}
.c2{
    background: violet;
    right:0px
}

.c3{
    background: rgb(231, 231, 226);
    bottom:0px;
    right:0px

}
.c4{
    background: orangered;
    bottom: 0px;
    left: 0px;
}